.site_sidebar-footer{
    background: linear-gradient(180deg, #4E56C4 0%, #4E56C4 100%);
    border-radius: 0 0 px2rem(20) 0;
    &_logo{
        text-align: center;
        padding: px2rem(12) 0;
    }
}